{% extends "layout.html" %}
{% load mineral_extras %}
{% load static %}


{% block title %}
    Macky's Minerals: {{ mineral.name }}
{% endblock %}


{% block content %}
    <div class="mineral__container">
        <h1 class="mineral__name">{{ mineral.name }}</h1>
        <div class="mineral__image-bg">
            <img class="mineral__image" src="{% static 'images/' %}{{ mineral.name }}{{ '.jpg' }}"
                 alt="{{ mineral.image_filename }}">
            <p class="mineral__caption">{{ mineral.image_caption }}</p>
        </div>
        <div class="mineral__table-container">
            <table class="mineral__table">
                {% for k, v in mineral.items %}
                    {% if k and v %}
                        {% if k != '_state' and k != 'id' and k != 'image_filename' and k != 'image_caption' %}
                            <tr>
                                <td class="mineral__category">{{ k|property_display|title }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}