{% extends "layout.html" %}
{% load static %}

{% block title %}
   Macky's Minerals: {{ mineral }}
{% endblock %}


{% block content %}
    <div class="mineral__container">
      <h1 class="mineral__name">{{ mineral }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'images/' %}{{ mineral.name }}{{ '.jpg' }}" alt="{{ mineral.image_filename }}">
        <p class="mineral__caption">Mineral caption goes here</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
          <tr>
            <td class="mineral__category">Category</td>
            <td>Mineral category</td>
          </tr>
          <tr>
            <td class="mineral__category">Formula</td>
            <td class="mineral__formula">Ca<sub>4</sub>(Al,Fe,Mg)<sub>10</sub>Si<sub>12</sub>O<sub>35</sub>(OH)<sub>12</sub>CO<sub>3</sub>·12H<sub>2</sub>O</td>
          </tr>
          <tr>
            <td class="mineral__category">Strunz Classification</td>
            <td>09.DB.45</td>
          </tr>
          <tr>
            <td class="mineral__category">Unit Cell</td>
            <td>a = 14.690(15) Å, b = 16.872(15) Å, c = 5.170(15) Å, Z = 2</td>
          </tr>
          <tr>
            <td class="mineral__category">Color</td>
            <td>Blue to blue-green</td>
          </tr>
          <tr>
            <td class="mineral__category">Crystal Habit</td>
            <td>fibrous</td>
          </tr>
          <tr>
            <td class="mineral__category">Mohs Scale Hardness</td>
            <td>3</td>
          </tr>
        </table>
      </div>
    </div>
{% endblock %}